# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM  # 代码风格的基础风格
UseTab: Never       # 是否使用制表符（Tab）来进行缩进。
IndentWidth: 4      # 指定了每个缩进级别的宽度。这里指定为4个空格。
DerivePointerAlignment: false   # 是否根据类型推导指针的对齐方式。
PointerAlignment: true          # 指定了指针的对齐方式。这里指定为true，表示指针应该按照缩进方式进行对齐。
AlwaysBreakAfterReturnType: None          # 在函数声明或定义中，返回类型后面是否应该强制换行。这里指定为None，表示不强制换行。
AlwaysBreakTemplateDeclarations: true     # 指定了是否在模板声明的左尖括号后强制换行。这里指定为true，表示应该强制换行。
AlwaysBreakBeforeMultilineStrings: true   # 指定了是否在多行字符串前强制换行。这里指定为true，表示应该强制换行。
AlignOperands: true                 # 指定了是否按照运算符进行对齐。这里指定为true，表示应该按照运算符进行对齐。
AlignAfterOpenBracket: true         # 指定了是否在左括号后面进行对齐。这里指定为true，表示应该在左括号后面进行对齐。
AlignConsecutiveBitFields: true     # 指定了是否对连续的位域进行对齐。
AlignConsecutiveMacros: true        # 指定了是否对连续的宏进行对齐。
ConstructorInitializerAllOnOneLineOrOnePerLine: true    # 指定了构造函数初始化列表中是否应该将所有成员初始化放在一行或者每个初始化放在一行。这里指定为true，表示构造函数初始化列表中的每个初始化都应该放在一行。
AllowAllConstructorInitializersOnNextLine: false        # 指定了构造函数初始化列表中的初始化是否可以在下一行。
BinPackArguments: false     # 指定了函数参数是否应该尽可能地紧凑排列。
BinPackParameters: false    # 指定了函数的形参是否应该尽可能地紧凑排列。
IncludeBlocks: Regroup      # 指定了如何对#include语句进行分组。这里指定为Regroup，表示应该按照包含文件的类型（系统头文件、用户头文件等）进行分组，以便更好地组织和查看包含文件。